@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

:root {
    --primary-color: #388EE7;
    --dark-gray: #6B7280;
    --off-white: #B54DC7;
    --button-text-color: #ffffff;
    --gray:#0a2f79;
    --black:#010611;
}
body {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    margin:auto;
    padding: 0;
    max-width: 90%;
}
hr {
    margin: 2rem 0rem
}
/* Navigation */
.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}
.navigation .nav-brand {
    font-size: 1.1rem;
}
.navigation ul {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 1rem;
}
.navigation li{
    padding: 0.2rem 0.5rem;
    margin:  0.2rem 0.5rem;
}
.navigation a{
    padding: 0.2rem;
}

/** header **/
.hero {
    padding: 2rem;
}
.hero .hero-image {
    max-width: 350px;
    display: block;
    margin: auto;
    width:100%;
}
.hero .hero-heading {
    color: var(--dark-gray);
    padding-top: 1rem;
}
/**sections **/ 
.info-box {
    padding: 2rem;
    text-align:center;
    margin-bottom:50px;
}
.box{
    background-color: var(--off-white);
    padding-bottom: 2rem;
    border-radius:2rem;
    transition: 0.5s ease;
    margin:10px auto;
}
.project-section h1{
    display: block;
    font-size: 2rem;
}
.project-section ul{
    max-width: 80%;
    margin: auto;
    border: 2px solid blue;
}
.project-container{
    border: 2px solid blue;
    max-width: 600px;
    margin: auto;
    height: auto;
}
hr{
    width: 90%;
}



/* Footer */
.footer{
    background-color: var(--primary-color);
    border-top-right-radius: 1rem;
    margin-top: 80px;
}
.social-link{
    display: flex;
    justify-content: center;
    margin: 1rem 0;
    padding: 0;
}


/**footers**/
.footer{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    border-top-right-radius: 1rem;
    margin-top: 80px;
}
.footerBlog{
    background-color: var(--primary-color);
    padding:2rem 1rem;
    text-align: center;
    color: white;
    border-top-right-radius: 1rem;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 300px;
}
/* Animation */
.social-icon{
    color: var(--button-text-color);
    padding: 1rem;
    font-size: xx-large;
}
.social-icon :hover{
    transform:translate(0,-10px);
    transition: .6s;
}
/* .footer-header .social-links .list-item-inline .linksSymbol :hover {
    color: black;
} */

/* Media queries */

@media(max-width:500px){
    .navigation ul{
      padding-inline-start: 20px;
    }
    .navigation ul{
        justify-content: center;
    }
    
}
@media(max-width:400px){
    
    .navigation li{
        padding: 0.5rem ;
    }
    .flex-link{
        display:flex;
        
         width: 151px;
          margin-bottom: 10px;
       text-transform: uppercase;
    }
    .navigation ul{
      padding-inline-start: 10px;

    }
    
    
    
}